table {
    width: 75%;
    margin: auto;
}

.mat-column-name {
    width: 60%;
}

.mat-column-isActive {
    width: 35%;
    margin: auto;
}

form {
    display: flex;
    width: 50%;
    margin: 12px auto;
    justify-content: space-around;
}